@charset "utf-8";
/* CSS Document */
html{font-size:32px;}
#warp{
	min-width:10rem;
	position:relative;
}

/*head开始*/
#head{
	width:10rem;
	height:1.17rem;
	background:#fff;
	text-align:center;
	line-height:1.17rem;
	margin:0 auto;
}
#head ul{
	padding:0px 0.32rem;
}
#head ul li:nth-child(2){
	display:inline-block;
	text-align:center;
}
#head ul li a{
	font:0.3rem "微软雅黑";
	color:#a2daf6;
}
#head ul li a.black{
	font: bold 0.3rem "微软雅黑";
	color:#000;
}
#head ul li a .icon_a{
	display:inline-block;
	padding-top:0.18rem;
	width:0.3rem;
	height:0.46rem;
	background:url(../images/%E4%B8%AA%E4%BA%BA%E4%B8%AD%E5%BF%834_12.png) no-repeat;
	background-size:100% 100%;
	
}
#head ul li a span:last-child{
	padding-left:0.14rem;
}
#head ul li a span{
	margin-top:0.51rem;
	float:left;
}
/*head结束*/
/*banner开始*/
#banner{
	width:10rem;
	height:4.53rem;
	background:#4491e3;
	margin:0 auto;
	overflow:hidden;
}
/*#banner .box{
	text-align:center;
	line-height:300px;
	width:200px;
	height:300px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-100px;
	margin-rigth:-150px;
}*/
#banner .ph{
	width:2.38rem;
	height:2.11rem;
	background:url(../images/%E4%B8%AA%E4%BA%BA%E4%B8%AD%E5%BF%83_18.png) no-repeat;
	border-radius:50%;
	margin:0.93rem auto;
	margin-bottom:0;
	background-size:100% 100%;
}
#banner .num{
	width:1.73rem;
	height:0.4rem;
	font-size:0.3rem;
	color:#fff;
	margin: 0.25rem auto;
}
/*banner结束*/
/*content开始*/
#content{
	width:10rem;
	background:#f3f3f3;
	margin:0 auto;
}
#content ul{
	margin-top:0.4rem;
	background:#f3f3f3;
}
#content ul li{
	padding: 0 0.32rem;
	width:9.31rem;
	height:0.88rem;
	text-align:center;
	font:0.27rem/0.88rem "宋体";
	color:#3e3e3e;
	border:1px solid #e3e3e3;
	background:#fff;
	margin-top:-1px;
}
#content ul li:nth-child(2){
	margin-bottom:0.27rem;
	
}
#content ul li:nth-child(4){
	margin-bottom:0.27rem;
}
#content ul li a span{
	width:0.26rem;
	height:0.38rem;
	background:url(../images/%E4%B8%AA%E4%BA%BA%E4%B8%AD%E5%BF%83_43.png) no-repeat;
	margin-top:0.27rem;
	background-size:100% 100%;
}
#content ul li:last-child sapn{
	
	text-align:center;
	line-height:0.88rem;
	
}
#content ul li:last-child{
	color:red;
}
.btn{
	
	background:blue;
	padding:0.14rem;
	border-radius:0.7rem;
	
}
/*content结束*/